--I.Tạo CSDL
create database QLSV
use QLSV
--Tạo bảng Khoa
create table KHOA(
makhoa char(10) not null primary key,
tenkhoa nvarchar(50),
dienthoai char(12) default '0')
--Tạo bảng Lớp
create table LOP(
malop char(10) not null primary key,
tenlop varchar(50),
khoa varchar(50),
hedaotao nvarchar(50),
namnhaphoc int,
siso int,
makhoa char(10),
foreign key (makhoa) references khoa(makhoa))
--Tạo bảng Sinh viên
create table SINHVIEN(
masv char(10) not null primary key,
hodem nvarchar(50),
ten nvarchar(50),
ngaysinh date,
gioitinh nvarchar(10),
noisinh nvarchar(50),
malop char(10),
foreign key (malop) references lop(malop))
--Tạo bảng môn học
create table MONHOC(
mamonhoc char(10) not null primary key,
tenmonhoc nvarchar(50),
sodvht int,
check (sodvht between 1 and 5))
--Tạo bảng điểm thi
create table DIEMTHI(
mamonhoc char(10),
masv char(10),
diemlan1 float,
diemlan2 float,
primary key(mamonhoc,masv),
foreign key (mamonhoc) references monhoc(mamonhoc),
foreign key (masv) references sinhvien(masv),
check (diemlan1 between 0 and 10),
check (diemlan2 between 0 and 10))
--Thêm các values
--Khoa
insert into KHOA values
('TF01',N'CNTT','0123389756'),
('TF02',N'Cơ Khí','0437950944'),
('TF03',N'Kinh Tế','0236432436'),
('TF04',N'Toán-Tin','0237358453'),
('TF05',N'Công trình','0337585784'),
('TF06',N'Hoá-Môi trường','0666483293')
--Lớp
insert into LOP values
('L01', 'PM1', 'K64', N'Đại học', 2022, 64, 'TF01'),
('L02', 'CK2', 'K65', N'Đại học', 2023, 60, 'TF02'),
('L03', 'KT3', 'K64', N'Đại học', 2022, 55, 'TF03'),
('L04', 'NN4', 'K63', N'Đại học', 2021, 58, 'TF04'),
('L05', 'CT5', 'K65', N'Đại học', 2023, 62, 'TF05'),
('L06', 'Tin', 'K45', N'Đại học', 2004, 62, 'TF04'),
('L07', 'CNTT', 'K64', N'Đại học', 2022, 50, 'TF01'),
('L08', 'Sinh', 'K45', N'Đại học', 2004, 50, 'TF06')
--Sinh viên
--Môn học
insert into MONHOC values
('TI001',N'Thuật toán ứng dụng',3),
('D01',N'Toán',3),
('D02',N'CSDL',3),
('D03',N'Linux',2),
('D04',N'Kĩ năng mềm',3),
('D05',N'Triết học',3),
('D06',N'Tư tưởng HCM',3),
('D07',N'Pháp luật đại cương',3),
('D08',N'OOP',3),
('D09',N'Tin học đại cương',3),
('D010',N'Lịch sử Đảng',5),
('D011',N'Đồ án tốt nghiệp',5),
('D012',N'Vật lý đại cương',3)
--Điểm thi
insert into DIEMTHI values
('D01','SV005',7,8.5),
('D01','SV008',8,9),
('D03','SV010',6.5,10),
('D03','SV001',5.5,8.5),
('D03','SV003',7,9.5),
('D011','SV004',4.5,8.5),
('D011','SV001',5.5,8.5),
('D09','SV003',7,8.5),
('D08','SV004',4.5,8.5),
('D06','SV007',6.5,7.5)
--II.Cập nhật dữ liệu
--a.Cập nhật ngày sinh sinh viên mã 0471031007 thành 16/6/1992
update SINHVIEN
set ngaysinh='19920626'
where masv='0471031007'
--b.Tăng điểm lần 1 của môn Tin học đại cương cho sinh viên lên 1đ
update MONHOC
set tenmonhoc='Tin học đại cương'
where mamonhoc='D09'
update DIEMTHI
set diemlan1 = diemlan1 + 1
where mamonhoc='D09'
--c.Tăng thêm một đơn vị học trình cho những sv hiện có số đvht từ 3 trở lên
update MONHOC
set sodvht = sodvht+1
where sodvht >=3 and sodvht<5
--III.Xoá dữ liệu
--a.Xoá khỏi bảng sinh viên những sinh viên có ns Tuyên Quang
delete from DIEMTHI
where masv in(select masv from SINHVIEN where noisinh='Tuyên Quang')
delete from SINHVIEN
where noisinh='Tuyên Quang'
--b.Xoá khỏi bảng sinh viên trước 1991
delete from DIEMTHI
where masv in(select masv from SINHVIEN where year(ngaysinh)<1991)
delete from SINHVIEN
where year(ngaysinh)<1991
--IV.Sử dụng select để truy xuất
--1.Cho biết mã lớp,tên lớp,hệ đào tạo các lớp hiện có
select malop,tenlop,hedaotao from LOP
--2.Hiển thị ds các khoa trong trường
select * from KHOA
--3.Hiển thị thông tin mã lớp,tên lớp,mã khoa,tên khoa
select L.malop,L.tenlop,K.makhoa,K.tenkhoa from LOP L,KHOA K
where L.makhoa=K.makhoa
--4.Cho biết mã lớp,tên lớp,khoá học của các lớp trong trường
select malop,tenlop,makhoa from LOP
--5.Hiển thị mã,họ tên,giới tính của các sinh viên
select masv,hodem,ten,gioitinh from SINHVIEN
--6.Cho biết tên môn,số tiết các môn học biết số tiết =số đvht*15
select tenmonhoc,sodvht*15 as sotiet from MONHOC
--7.Hiển thị họ tên của 5 sinh viên đầu ds
select top 5 hodem,ten from SINHVIEN
--8.Hiển thị họ tên,ngày sinh của 10% số lượng sinh viên có trong bảng sv
select top 10 percent hodem,ten,ngaysinh from SINHVIEN
--9.Hiển thị danh sách các môn học có số đơn vị học trình lớn hơn 4
select * from MONHOC
where sodvht>4
--10.Cho biết mã, họ tên và ngày sinh của các sinh viên có tên là Linh và có tuổi lớn hơn hoặc bằng 21
select masv,hodem,ten,ngaysinh from SINHVIEN
where ten='Linh' and datediff(year,ngaysinh,getdate())>=21
--11.Cho biết họ tên và tuổi của các sinh viên có tên là Linh và có tuổi nằm trong khoảng từ 20 đến 22
select hodem,ten,datediff(year,ngaysinh,getdate()) as tuoi from SINHVIEN
where ten='Linh'
--12. Cho biết danh sách các môn học có số đơn vị học trình là 2, 4 hoặc 5
select * from MONHOC
where sodvht in(2,4,5)
--13.Cho biết họ tên của các sinh viên có họ là Hoàng
select hodem,ten from SINHVIEN
where hodem like'Hoàng%'
--14.Tạo một bảng TUOISV bao gồm các trường HODEM, TEN và TUOI
select hodem,ten,datediff(year,ngaysinh,getdate()) as Tuoi into TUOISV from SINHVIEN
--15.Hiển thị danh sách các môn học và sắp xếp theo chiều tăng dần của số đơn vị học trình
select * from MONHOC
order by sodvht
--16.Cho biết họ tên, giới tính, tuổi của các sinh viên tên là Linh, sắp xếp giảm dần theo giới tính và tuổi
select hodem,ten,gioitinh,datediff(year,ngaysinh,getdate()) as Tuoi from SINHVIEN
where ten='Linh'
order by gioitinh desc,Tuoi desc
--17.Cho biết mã lớp và tên lớp của các lớp thuộc Khoa Toán – Tin
select malop,tenlop from LOP
where makhoa in(select makhoa from KHOA where tenkhoa='Toán-Tin')
--18.Hiển thị danh sách các sinh viên với các thông tin: mã sinh viên, họ và tên, mã lớp, tên lớp và tên khoa
select masv,hodem,ten,LOP.malop,LOP.tenlop,KHOA.tenkhoa from SINHVIEN
join LOP on LOP.malop=SINHVIEN.malop
join KHOA on KHOA.makhoa=LOP.makhoa
--19.Hiển thị họ tên và ngày sinh của các sinh viên Khoa Toán – Tin
select hodem,ten,ngaysinh from SINHVIEN 
join LOP on LOP.malop=SINHVIEN.malop
join KHOA on KHOA.makhoa=LOP.makhoa
where tenkhoa='Toán-Tin'
--20.Cho biết họ tên và ngày sinh của các sinh viên có cùng ngày sinh với sinh viên Nguyen Hoang Duc
select hodem,ten,ngaysinh from SINHVIEN
where ngaysinh in(select ngaysinh from SINHVIEN where hodem='Nguyen Hoang' and ten='Duc')
--21.Hiển thị họ tên và ngày sinh của các sinh viên lớp Tin K45
select hodem,ten,ngaysinh from SINHVIEN join LOP on SINHVIEN.malop=LOP.malop
where khoa='K45'
--22.Thống kê trung bình điểm lần 1 của tất cả các môn học
select avg(diemlan1) as DTBLan1 from DIEMTHI
--23.Cho biết tuổi lớn nhất, tuổi nhỏ nhất và độ tuổi trung bình của tất cả các sinh viên sinh tại Thái Nguyên
select max(Tuoi) as TuoiLonNhat,min(Tuoi) as TuoiNhoNhat,avg(Tuoi) as TuoiTB from TUOISV inner join SINHVIEN on SINHVIEN.hodem=TUOISV.hodem and SINHVIEN.ten=TUOISV.ten
where SINHVIEN.noisinh='Thái Nguyên'
--24. Cho biết sĩ số (số lượng sinh viên) của mỗi lớp
select count(*) as SiSo,tenlop from SINHVIEN join LOP on SINHVIEN.malop=LOP.malop
group by tenlop
--25.Cho biết trung bình điểm thi lần 1 các môn học của các sinh viên
select masv,avg(diemlan1) as DTBLan1 from DIEMTHI
group by masv
--26.Cho biết trung bình điểm thi lần 1 của các sinh viên có điểm trung bình lớn hơn hoặc bằng 5
select masv,avg(diemlan1) as DTBLan1 from DIEMTHI
group by masv
having avg(diemlan1)>=5
--27.Cho ta biết được số lượng lớp của mỗi khoa
select count(malop) as SLLop,tenkhoa 
from LOP join KHOA on KHOA.makhoa=LOP.makhoa
group by tenkhoa
--28.Cho biết danh sách các lớp của mỗi khoa và tổng số các lớp của mỗi khoa
select tenlop,tenkhoa from LOP,KHOA
where KHOA.makhoa=LOP.makhoa
select count(tenlop) as TongSoLop,tenkhoa from KHOA join LOP on KHOA.makhoa=LOP.makhoa
group by tenkhoa
--29.Hiển thị danh sách các lớp và tổng số lớp hiện có
select tenlop from LOP
select count(malop) as TongSoLopHienCo from LOP
--30.Cho biết danh sách các lớp của mỗi khoa, tổng số lớp theo mỗi khoa và tổng số lớp hiện có
select tenlop,tenkhoa from LOP,KHOA
where LOP.makhoa=KHOA.makhoa
select count(malop) as TongSoLop,tenkhoa from KHOA join LOP on LOP.makhoa=KHOA.makhoa
group by tenkhoa
select count(malop) as TongSoLopHienCo from LOP
--31.Cho biết danh sách các môn học có số đơn vị học trình lớn hơn hoặc bằng số đơn vị học trình của môn học có mã là TI001
select tenmonhoc from MONHOC
where sodvht >=(select sodvht from MONHOC where mamonhoc='TI001')
--32.Cho biết họ tên của những sinh viên lớp Tin K45 sinh trước (tất cả) các sinh viên của lớp Sinh K45
select hodem,ten from SINHVIEN join LOP on LOP.malop=SINHVIEN.malop
where tenlop='Tin' and khoa='K45'
and ngaysinh>all(select ngaysinh from SINHVIEN join LOP on LOP.malop=SINHVIEN.malop where tenlop='Sinh' and khoa='K45')
--33.Cho biết họ tên của những sinh viên lớp Tin K45 có năm sinh trùng với năm sinh của bất kỳ một sinh viên nào đó của lớp Sinh K45
select hodem,ten from SINHVIEN join LOP on LOP.malop=SINHVIEN.malop
where tenlop='Tin' and khoa='K45'
and year(ngaysinh)in(select year(ngaysinh) from SINHVIEN join LOP on LOP.malop=SINHVIEN.malop where tenlop='Sinh' and khoa='K45')
--34.Cho biết họ tên của những sinh viên hiện chưa có điểm thi của bất kỳ một môn học nào
select masv,hodem,ten from SINHVIEN
where masv not in(select masv from DIEMTHI)
--35.Cho biết mã, tên và trung bình điểm lần 1 của các môn học có trung bình lớn hơn trung bình điểm lần 1 của tất cả các môn học
select MONHOC.mamonhoc,tenmonhoc,avg(diemlan1) as DTB from MONHOC join DIEMTHI on DIEMTHI.mamonhoc=MONHOC.mamonhoc
group by MONHOC.mamonhoc,tenmonhoc
having avg(diemlan1)>(select avg(diemlan1) from DIEMTHI)
--Hiển thị các bảng dữ liệu
select *from KHOA
select *from LOP
select *from SINHVIEN
select *from MONHOC
select *from DIEMTHI
--Xoá bảng
drop table DIEMTHI
drop table MONHOC
drop table SINHVIEN
drop table LOP
drop table KHOA